.DS_Store
Recitation/*/*_cache/*
Recitation/*/*_files/*
Codes/*_cache/*
Recitation/*/.Rhistory
Recitation/*/*.log
Recitation/*/problemsets
Recitation/*/pdf_slides
Recitation/*/paper
Recitation/*/data
Demonstration